@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageName"];
    ViewData["LanguageSelection"] = Localizer["LanguageSelection"];
    ViewData["Welcome"] = Localizer["Welcome"];
    ViewData["LogOut"] = Localizer["LogOut"];
    Layout = "_LayoutACSService";

}
<style>
    /* The message box is shown when the user clicks on the password field */
    #message {
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #messageCon {
        display: none;
        color: red;
    }

    #message p {
        padding: 0px 36px;
        font-size: 12px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@Localizer["ChangePassword"]</h2>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">@Localizer["ChangePassword"]</a>
                    </li>
                    <li class="active">
                        <strong>@Localizer["Home"]</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Localizer["ChangePassword"]</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 b-r">

                            <div class="form-group">
                                <label class="font-normal"> @Localizer["NewPassword"]</label>
                                <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="font-normal"> @Localizer["PasswordRepeat"]</label>
                                <input id="pswCon" name="pswCon" type="password" required="required" class="form-control">
                                <div id="messageCon"> @Localizer["PasswordMessage"]</div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div id="message">
                                <h3>
                                    @Localizer["Thepasswordshouldincludethefollowing"]
                                </h3>
                                <p id="letter" class="invalid">  @Localizer["Param1"]</p>
                                <p id="capital" class="invalid"> @Localizer["Param2"]</p>
                                <p id="number" class="invalid">  @Localizer["Param3"]</p>
                                <p id="length" class="invalid">  @Localizer["Param4"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 text-right pull-right">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-white">@Localizer["Cancel"]</a>
                            <button id="SavePassword" class="btn btn-primary">@Localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var base_url = window.location.origin;
    var myInput = document.getElementById("psw");
    var myInputCon = document.getElementById("pswCon");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    myInputCon.onfocus = function () {
        document.getElementById("messageCon").style.display = "block";
    }

    myInputCon.onkeyup = function () {
        console.log(myInputCon.value + "-" + myInput.value)
        if (myInputCon.value == myInput.value) {
            document.getElementById("messageCon").style.display = "none";
        }

    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 6) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }


    $("#SavePassword").on("click", function () {
        var mesaj = "";
        var lowerCaseLetters = /[a-z]/g;
        if (!myInput.value.match(lowerCaseLetters)) {
            mesaj += " 1 küçük harf zorunlu! <br>";
        }
        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (!myInput.value.match(upperCaseLetters)) {
            mesaj += " 1 büyük harf zorunlu!<br>";
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (!myInput.value.match(numbers)) {
            mesaj += "1 numara zorunlu!<br>";
        }
        // Validate length
        if (!myInput.value.length >= 6) {
            mesaj += "En az 6 karakterden oluşmalı!";
        }

        if (mesaj != '') {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: "toast-top-center",
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.error(mesaj)
        } else {
            $.ajax({
                type: "GET",
                dataType: 'json',
                data: { password: $("#psw").val()},
                url: "@ViewData["UrlPath"]/api/Home/SavePassword",
                success: function (data) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        positionClass: "toast-top-center",
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    toastr.success("Şifre başarıyla güncellendi. Anasayfaya yönlendiriliyorsunuz.");
                    setTimeout(function () { window.location.replace(base_url+'/ACS' ); }, 2000);
                },
                error: function (e) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        positionClass: "toast-top-center",
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    toastr.error("Hata oluştu! Lütfen tekrar deneyiniz.")
                },
                cache: false
            });
        }
    });
</script>
