@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageName"];
    ViewData["LanguageSelection"] = Localizer["LanguageSelection"];
    ViewData["Welcome"] = Localizer["Welcome"];
    ViewData["LogOut"] = Localizer["LogOut"];
    Layout = "_LayoutACSService";

}
<style>
    .file {
        position: relative;
        background: linear-gradient(to right, lightblue 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 1s ease;
    }

    .file {
        border: 1px solid #e7eaec;
        padding: 0;
        background-color: #ffffff;
        position: relative;
        margin-bottom: 2px;
        margin-right: 100px;
    }

        .file.done {
            background: #1ab394;
        }

        .file a {
            display: block;
            position: relative;
            padding: 4px 9px;
            text-align: left;
            color: #424242;
            font-size: 10px;
        }

    .fileList {
        margin: 15px 0px;
    }

        .fileList .btn-xs {
            float: right;
            position: absolute;
            top: 0px;
            right: 0px;
        }

    .file {
        margin-right: 10px;
    }

    .removeFile {
        position: absolute;
        right: 15px;
        top: 6px;
        z-index: 999;
    }

    .attachment {
        list-style: none;
        float: left;
        margin-left: 0px;
        padding-left: 15px;
    }

        .attachment .file-box {
            position: relative;
        }

    .file-box {
        float: left;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@Localizer["CallCenter"]</h2>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Home">@Localizer["TechnicalSupport"]</a>
                    </li>
                    <li class="active">
                        <strong>@Localizer["CallCenter"]</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Localizer["CallCenter"]</h5>

                    <span class="pull-right text-right text-danger">

                        <small>@Localizer["FormValidationMessage"] </small>

                    </span>
                </div>
                <div class="ibox-content">
                    <form id="CallCenterForm" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 b-r">
                                <div class="form-group">
                                    <label class="font-normal">@Localizer["SerialNumber"]</label>
                                    <input id="SerialNo" name="SerialNo" type="text" class="form-control">
                                </div>
                                <div class="row"></div>

                                <div class="form-group">
                                    <label class="font-normal">@Localizer["CompanyName"]</label>
                                    <input id="CompanyName" name="CompanyName" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="font-normal">@Localizer["ContactName"]</label>
                                            <input id="RelatedPersonName" name="RelatedPersonName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="font-normal">@Localizer["ContactNameSurname"]</label>
                                            <input id="RelatedPersonLastName" name="RelatedPersonLastName" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="font-normal">@Localizer["E-mail"]</label>
                                    <input id="RelatedPersonEmail" name="RelatedPersonEmail" type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="font-normal">@Localizer["Phone"]</label>
                                    <input id="RelatedPersonPhone" name="RelatedPersonPhone" type="text" class="form-control">
                                </div>


                                <div class="form-group files">
                                    <label class="font-normal">@Localizer["ChooseFiles"]</label>
                                    <input type="file" id="files" name="files" multiple>
                                </div>

                                <div class="row">
                                    <ul class="attachment">
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-normal">@Localizer["CompressorInformation"]</label>
                                    <textarea id="CompressorInformation" name="CompressorInformation" class="form-control" rows="5"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="font-normal"> @Localizer["Comment"] </label>
                                    <textarea id="CallCenterComment" name="CallCenterComment" class="form-control" rows="5"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-white">@Localizer["Cancel"]</a>
                                    @*<button id="AddCallCenter" type="submit" value="AddCallCenter" formaction="CallCenter/AddCallCenter" formmethod="post" class="btn btn-primary">@Localizer["Kaydet"]</button>*@
                                    <button id="AddCallCenter" type="button" class="ladda-button ladda-button-demo btn pull-right btn-primary" data-style="expand-right">@Localizer["Kaydet"]</button>
                                </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="KurulumYonlendirmeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Localizer["Close"]</span></button>
                <i class="fa  fa-exclamation-triangle modal-icon"></i>
                <h4 class="modal-title">@Localizer["MachineNotInstalled"]</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Localizer["MachineNotInstalledComment"]
                </p>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" asp-controller="Home" class="btn btn-white" data-dismiss="modal">@Localizer["Close"]</a>
                <a asp-action="Index" asp-controller="Installation" class="btn btn-primary">@Localizer["Forward"]</a>
            </div>
        </div>
    </div>
</div>





@if (ViewBag.Success == true)
{
    <script type="text/javacsript">

         toastr.options = {
                closeButton: true,
             progressBar: true,
             positionClass: "toast-top-center",
                showMethod: 'slideDown',
                timeOut: 4000
            };
    toastr.success('@ViewBag.Message');
    </script>
}
else if (ViewBag.Success == false)
{
    <script type="text/javacsript">
         toastr.options = {
                closeButton: true,
             progressBar: true,
             positionClass: "toast-top-center",
                showMethod: 'slideDown',
                timeOut: 1000
            };
    toastr.error('@ViewBag.Message');
    </script>
}

<script>

    var filesToUpload = [];

    $.fn.fileUploader = function (filesToUpload, sectionIdentifier) {
        var fileIdCounter = 0;

        this.closest(".files").change(function (evt) {
            var output = [];

            for (var i = 0; i < evt.target.files.length; i++) {
                fileIdCounter++;

                var file = evt.target.files[i];
                var fileId = sectionIdentifier + fileIdCounter;

                filesToUpload.push({
                    id: fileId,
                    file: file
                });

                var removeLink = "<div class=\"removeFile btn btn-danger btn-xs\" data-fileid=\"" + fileId + "\"><i class='fa fa-times-circle-o' aria-hidden='true'></i></div>";

                var dataContent = "";

                if (file.type == "image/jpeg" || file.type == "image/png") {
                    dataContent += "<li class='file-box'>" +
                        //removeLink +
                        "<div class='file'>" +
                        "<a href='#'>" +
                        "<span class='corner'></span>" +

                        "<div class='icon'>" +
                        "<img alt='image' class='feed-photo' src=" + (window.URL ? URL : webkitURL).createObjectURL(file) + ">" +
                        "</div>" +
                        "<div class='file-name'>" +
                        escape(file.name) +
                        "<br>" +

                        "</div>" +
                        "</a>" +
                        "</div>" +
                        "</li>";
                } else {
                    dataContent += "<li class='file-box'>" +
                        //removeLink +
                        "<div class='file'>" +
                        "<a href='#'>" +
                        "<span class='corner'></span>" +

                        "<div class='icon'>" +
                        "<i class='fa fa-file'></i>" +
                        "</div>" +
                        "<div class='file-name'>" +
                        escape(file.name) +
                        "<br>" +

                        "</div>" +
                        "</a>" +
                        "</div>" +
                        "</li>";
                }


                $(".attachment").append(dataContent);

            };
            //evt.target.value = null;
        });

        this.clear = function () {
            for (var i = 0; i < filesToUpload.length; ++i) {
                if (filesToUpload[i].id.indexOf(sectionIdentifier) >= 0)
                    filesToUpload.splice(i, 1);
            }

            $(this).children(".fileList").empty();
        }

        return this;
    };

    (function () {
        var files1Uploader = $("#files").fileUploader(filesToUpload, "files");

    })()


    $('body').on('click', '.removeFile', function (e) {
        var fileId = $(this).data("fileid");
        // loop through the files array and check if the name of that file matches FileName
        // and get the index of the match
        for (var i = 0; i < filesToUpload.length; ++i) {
            if (filesToUpload[i].id === fileId)
                filesToUpload.splice(i, 1);
        }
        $(this).parent().remove();

        //$("#files").fileUploader(filesToUpload)
        $("#files").attr("value", filesToUpload);
    });

   var base_url = window.location.origin;

      //Kayıt işlemleri
    $("#AddCallCenter").on("click", function () {
        $("#CallCenterForm").valid();
        var model = $('#CallCenterForm').serialize();
        var form = $("#CallCenterForm");
        if (form.valid() == true) {
             $.ajax({
                type: "POST",
                dataType: 'json',
                 data: model,
                 url: "@ViewData["UrlPath"]/api/CallCenter/AddCallCenter",
                 beforeSend: function () { $('#AddCallCenter').ladda().ladda('start'); },
                 success: function (data) {
                     if (data.isSuccess == true) {
                         toastr.options = {
                             closeButton: true,
                             progressBar: true,
                             positionClass: "toast-top-center",
                             showMethod: 'slideDown',
                             timeOut: 4000
                         };
                         toastr.success("Çağrı kaydınız yapıldı. Anasayfaya yönlendiriliyorsunuz!");
                         setTimeout(function () { window.location.replace(base_url + '/ACS '); }, 4000);

                    } else {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            positionClass: "toast-top-center",
                            showMethod: 'slideDown',
                            timeOut: 4000
                        };
                        toastr.error(data.errorMessage)

                    }

                 },
                 complete: function () { $('#AddCallCenter').ladda().ladda('stop');  },
            error: function (e) {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    positionClass: "toast-top-center",
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.error(" Hata oluştu!! Lütfen tekrar deneyiniz..");

                },
                cache: false
            });
        }

    });

</script>
