@using Microsoft.AspNetCore.Mvc.Localization
@model Mikroportal.MODEL.RequestResponseClasses.LoginRequest
@{
    ViewData["Title"] = "Mikroportal Giriş - Mikropor";
}
@{
    Layout = null;
}

@inject IViewLocalizer Localizer
@*ViewData["LanguageSelection"] = Localizer["LanguageSelection"];*@

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>@ViewData["Title"]</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Images/favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Images/favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Images/favicon//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Images/favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon//favicon-16x16.png">
    <link rel="manifest" href="~/Images/favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Images/favicon//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib_bower/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>

<body class="gray-bg">

    <div class=" text-center loginscreen col-md-6 col-lg-6 col-sm-12 loginPage">
        <div>
            <div>
                <img class="logo" alt="image" src="~/Images/logo-white.png" />
            </div>
            <div class="white-bg dashboard-header col-md-offset-4 col-md-4">
                <form asp-action="Login" method="post">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                        <label>@Localizer["TxtKullaniciAdi"]</label>
                        <input type="text" name="UserAccount" value="@Model?.UserAccount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["TxtSifre"]</label>
                        <input type="password" name="UserPassword" value="@Model?.UserPassword" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-danger btn-block" value="Login">@Localizer["BtnGiris"]</button>

                </form>
                <div class="text-danger mt-2"> <b>@ViewBag.Mesaj</b> </div>


            </div>

        </div>
    </div>

    <div class="row"></div>
    <div class="col-md-12">
        <p class="m-t text-center"> © Copyright <strong>MIKROPOR</strong>. All Rights Reserved</p>
    </div>
    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>

</html>

